@import '~bootstrap/dist/css/bootstrap-grid.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    user-select: none;
}
.header{
    background-image: url("../../img/UI/headerBackground.png");
    background-size: cover;
    position: absolute;
    width: 100%;
    top: 0;
    height: 700px !important;
}
.header-content{
    text-align: center;
    color: #FFFFFF;
    width: 500px;
    font-weight: 600;
    margin: 250px auto;
}
.header-content h5{
    margin: 20px 0 50px 0;
}

.description{
    margin: 800px auto 0px;
}
.description h1{
    text-align: center;
    margin-bottom: 70px;
}

@media screen and (max-width: 1399px){
    .main-button{
        margin: 70px 310px;
    }
    .description h1{
        margin-left: 10px;
    }
    .description-block__text{
        width: 100%;
    }
}
@media screen and (max-width: 1714px){
    .description p{
        width: 100%;
    }
}
.lowTab{
    width: 70%;
    height: 96px;
    background: #FFFFFF;
    border-radius: 40px 40px 0px 0px;
    position: absolute;
    top: 610px;
}

.description-block__text{
    font-size: 20px;
}

.description-block__picture{
    width: 400px;
    height: 500px;
    margin-top: 10px;
}
.services{
    margin-bottom: 100px;
}

.slider{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    width: 1270px;
    margin: auto;
    padding: 20px 0;
    white-space: nowrap;
}
.slide{
    display: inline-block;
    animation: 50s move-rtl infinite linear;
}
.slide img{
    height: 50px;
    margin: 0 40px;
}
@keyframes move-rtl {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
@media screen and (max-width: 1399px){
    .slider{
        width: 95%;
    }
}
.serviceBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    width: 193px;
    height: 240px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.1);
    border-radius: 9px;
    margin-left: 25px;
    transition-duration: 1000ms;
    margin-top: 20px;
}
.serviceBlock:hover{
    background: #61dafb;
}
.block-img{
    position: absolute;
    width: 48px;
    height: 48px;
    margin-bottom: 80px;
}
.block-text{
    position: inherit;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    margin-top: 90px;
}